#menu {
    position: fixed;
    right: 0;
    font-size: 1rem;

    &.is-open {
        width: 100%;
        background-color: white;

        .menu-open {
            display: none;
        }
        .menu-contents {
            display: block;
        }
    }
    .menu-open {
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
    .menu-contents {
        display: none;
        padding: 16px;
        border-bottom: 1px solid black;

        > h1 {
            margin: 0;
        }
    }
    .menu-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}