.orthofloat-wrapper {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;

    > div:not(.orthofloat-stripes) {
        display: none;
    }

    > canvas {
        display: block;
        position: relative;
    }

    &.show-stats > div {
        display: block;
    }
}